:root{
    --db-primary: #0061FE;
    --db-light: #fff;
    --db-dark: #000;
    --db-accent: #B4D0E6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}
img{
    max-width: 100%;
}

/* utilities */
.d-flex{
    display: flex;
}
.container{
    width: 60%;
    margin: auto;
}
.container-lg{
    width: 70%;
    margin: auto;
}
.row
{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}
[class^="col"]{
    padding: 1rem;
}

.col
{
  width: auto;
  flex-basis: auto;

}

.col-1
{
  width: calc(100% / 12 * 1);
}

.col-2
{
  width: calc(100% / 12 * 2);
}

.col-3
{
  width: calc(100% / 12 * 3);
}

.col-4
{
  width: calc(100% / 12 * 4);
}

.col-5
{
  width: calc(100% / 12 * 5);
}

.col-6
{
  width: 50%;
}

.col-7
{
  width: calc(100% / 12 * 7);
}

.col-8
{
  width: calc(100% / 12 * 8);
}

.col-9
{
  width: calc(100% / 12 * 9);
}

.col-10
{
  width: calc(100% / 12 * 10);
}

.col-11
{
  width: calc(100% / 12 * 11);
}

.col-12
{
  width: 100%;
}
/* end utilities */
.debug{
.container-lg{
    height: 22rem;
    background-color: yellow;
    h1{
        background-color: green;
        width: 100%;
        height: 10rem;
    }
    .d-flex{
        background-color: red;
        .col-4{
            background-color: pink;
            min-height: 14rem;

        }
        .col-8{
            background-color: gray;
        }
    }
}
}

/* nav region */
header{
    position: sticky;
    top: 0;
    left: 0;
}
nav{
    width: 100%;
    background-color: var(--db-light);
    
    justify-content: space-between;
    box-shadow: 0 0 3px lightblue;
    img, span{
        padding: 1.5rem .85rem;
    }
    span{
        display: flex;
        align-items: center;
        
    }
    span.nav-link:hover{
        border-bottom: 1px solid var(--db-dark);
    }
    span a{
        text-decoration: none;
        color: var(--db-dark);
        white-space: nowrap;
    }
    .main-btn{
        background-color: var(--db-primary);
        padding: .4rem .8rem;
        border: none;
        
        a{
            color: var(--db-light);
            text-decoration: none;
            
        }
    }
}
.main-btn{
    background-color: var(--db-primary);
    padding: .4rem .8rem;
    border: none;
    
    a{
        color: var(--db-light);
        text-decoration: none;
        
    }
}
/* end nav region */
/* main reegion */
#hero{
    padding: 1rem;
    width: 100%;
    background-color: var(--db-accent);
    .row{
        align-items: center;
    }
    h1{
        font-weight: 800;
        font-size: 5rem;
        margin-top: 2.5rem;
        margin-bottom: 2.3rem;
    }
    p{
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }
    .main-btn{
        padding: .6rem .8rem;
        margin-bottom: 1.5rem;
    }
    i{
        font-size: 3rem;
        margin-top: 5rem;
    }
    .col-8{
        margin-bottom: -7rem;
    }
        
}

/* end main region */



